Section 1 -

In [33]:
#1. 
l1=['DBDA','BATCH']
even=[]
odd=[]
other=[]
for i in l1:
    for ii in i:
        a=i.index(ii)
        if a%2==0:
            even.append(ii)
        else:
            odd.append(ii)
print("Even list = ",even)
print("Odd list = ",odd)

Even list =  ['D', 'D', 'B', 'T', 'H']
Odd list =  ['B', 'A', 'A', 'C']

In [83]:
#2.
l1=[1,2,3,4,5,6,7,8,9]
even=[]
odd=[]
even_sum=0
odd_sum=0
even_product=1
odd_product=1
for i in l1:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
#printing even list
print("Even Numbers =",even)
#printing odd list
print("Odd numbers =",odd)
#addition of even list
for i in even:
    even_sum+=i
print("Sum of even numbers =",even_sum)
#product of even list
for i in even:
    even_product*=i
print("Product of even numbers =",even_product)
#addition of odd list
for i in odd:
    odd_sum+=i
print("Sum of odd numbers = ",odd_sum)
#product of odd list
for i in odd:
    odd_product*=i
print("Product of odd numbers = ",odd_product)

Even Numbers = [2, 4, 6, 8]
Odd numbers = [1, 3, 5, 7, 9]
Sum of even numbers = 20
Product of even numbers = 384
Sum of odd numbers =  25
Product of odd numbers =  945

Section 2 -

In [89]:
#1.
class ShoppingCart:
    cart_list=[]
    def __init__(self):
    def add_item(self,item,price):
        self.item=item
        self.price=price
        self.cart_list+=item
    '''def remove_item(self,item):
        for i in cart_list:
            i==item:
                self.cart_list-=item'''
    def calculate_total(self):
        return str()

IndentationError: expected an indented block after function definition on line 4 (2207767510.py, line 5)

In [88]:
my_cart=ShoppingCart()
my_cart.add_item("Shirt",25)
my_cart.add_item("Pants",35)
my_cart.add_item("Shoes",50)

AttributeError: 'ShoppingCart' object has no attribute 'cart_list'

Section 3 -

In [34]:
import pandas as pd

In [42]:
df = pd.read_csv('movies_metadata.csv')

In [52]:
#1. print details of title and genres

df[['title','genres']].describe()

            title                                             genres
count          50                                                 50
unique         50                                                 39
top     Toy Story  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
freq            1                                                  6

In [51]:
#2. print first 10 rows

df.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Unnamed: 24
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,FALSE,7.7,5415.0,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,FALSE,6.9,2413.0,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92.0,NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,FALSE,6.1,34.0,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,FALSE,5.7,173.0,NaN
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818,170,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,FALSE,7.7,1886.0,NaN
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,0,127,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,FALSE,6.2,141.0,NaN
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,0,97,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,FALSE,5.4,45.0,NaN
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,64350171,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,FALSE,5.5,174.0,NaN
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,352194034,130,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,FALSE,6.6,1194.0,NaN

In [50]:
#3. print longest and shortest runtime

print("longest runtime = ",max(df.runtime))
print("shortest runtime = ",min(df.runtime))

longest runtime =  192
shortest runtime =  0

In [47]:
#4. print sorted movies on runtime in descending order

df.sort_values('runtime',ascending=False)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Unnamed: 24
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,13681765,192,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,FALSE,7.1,72.0,NaN
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,116112375,178,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,FALSE,7.8,1343.0,NaN
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818,170,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,FALSE,7.7,1886.0,NaN
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,135000000,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,FALSE,7.2,364.0,NaN
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,30303072,132,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,FALSE,6,394.0,NaN
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,352194034,130,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,FALSE,6.6,1194.0,NaN
31,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,168840000,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,FALSE,7.4,2470.0,NaN
46,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,327311859,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,FALSE,8.1,5915.0,NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,FALSE,6.1,34.0,NaN
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,0,127,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,FALSE,6.2,141.0,NaN
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,0,124,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,FALSE,6.5,199.0,NaN
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,0,123,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,FALSE,7,33.0,NaN
35,False,NaN,11000000,"[{'id': 18, 'name': 'Drama'}]",NaN,687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,...,39363635,122,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,FALSE,7.3,350.0,NaN
34,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,...,0,121,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,FALSE,6.4,16.0,NaN
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,10017322,119,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,FALSE,5.7,137.0,NaN
41,False,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",...,0,119,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,FALSE,6.6,80.0,NaN
42,False,NaN,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",...,0,117,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,FALSE,6.3,30.0,NaN
45,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,23574130,116,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,FALSE,6.5,38.0,NaN
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,49800000,112,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,FALSE,7.1,365.0,NaN
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,0,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,FALSE,6.3,143.0,NaN
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1738611,108,"[{'iso_639_1': 'cn', 'name': '??? / ???'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,FALSE,7.6,308.0,NaN
44,False,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,tt0114681,en,To Die For,Susan wants to work in television and will the...,...,21284514,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,FALSE,6.7,177.0,NaN
39,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,34615,tt0112749,en,"Cry, the Beloved Country",A South-African preacher goes to search for hi...,...,676525,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Cry, the Beloved Country",FALSE,6.7,13.0,NaN
49,False,NaN,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",...,23341568,106,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,FALSE,8.1,3334.0,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,FALSE,5.7,173.0,NaN
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,64350171,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,FALSE,5.5,174.0,NaN
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,107879496,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,FALSE,6.5,199.0,NaN
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,115101622,105,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,FALSE,6.4,305.0,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,FALSE,6.9,2413.0,NaN
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,0,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,FALSE,7.4,36.0,NaN
40,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,...,0,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,FALSE,6.9,50.0,NaN
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,35431113,103,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,FALSE,5.4,224.0,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92.0,NaN
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,...,122195920,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,FALSE,5.4,452.0,NaN
37,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,FALSE,6.1,149.0,NaN
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,27400000,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,FALSE,6.6,91.0,NaN
30,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,9909,tt0112792,en,Dangerous Minds,Former Marine Louanne Johnson lands a gig teac...,...,180000000,99,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,FALSE,6.4,249.0,NaN
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,4300000,98,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,FALSE,6.5,539.0,NaN
38,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",...,0,97,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,FALSE,6.9,828.0,NaN
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,0,97,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,FALSE,5.4,45.0,NaN
48,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",...,0,96,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,FALSE,5.9,10.0,NaN
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,212385533,90,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,FALSE,6.1,1128.0,NaN
33,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,254134910,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,FALSE,6,756.0,NaN
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,0,88,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,FALSE,5.7,210.0,NaN
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,...,346079773,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,FALSE,6.7,1509.0,NaN
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,FALSE,7.7,5415.0,NaN
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,11348324,78,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,FALSE,7.1,423.0,NaN
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,0,51,"[{'iso_639_1': 'ru', 'name': 'P??????'}, {'iso...",Released,NaN,Across the Sea of Time,FALSE,3.5,2.0,NaN
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,0,50,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,FALSE,6.8,4.0,NaN
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,???,?????,...,30-04-1995,0,108,"[{'iso_639_1': 'zh', 'name': '???'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,FALSE,6.5,17.0

In [49]:
#5. display title and runtime whose having runtime longer than 30 and shorter than 360

small_df = df[['title', 'runtime']]
small_df[(small_df['runtime'] >= 30) & (small_df['runtime'] <= 360)]

                             title  runtime
0                        Toy Story       81
1                          Jumanji      104
2                 Grumpier Old Men      101
3                Waiting to Exhale      127
4      Father of the Bride Part II      106
5                             Heat      170
6                          Sabrina      127
7                     Tom and Huck       97
8                     Sudden Death      106
9                        GoldenEye      130
10          The American President      106
11     Dracula: Dead and Loving It       88
12                           Balto       78
13                           Nixon      192
14                Cutthroat Island      119
15                          Casino      178
16           Sense and Sensibility      136
17                      Four Rooms       98
18  Ace Ventura: When Nature Calls       90
19                     Money Train      103
20                      Get Shorty      105
21                         Copycat      124
22                       Assassins      132
23                          Powder      111
24               Leaving Las Vegas      112
25                         Othello      123
26                    Now and Then      100
27                      Persuasion      104
28       The City of Lost Children      108
30                 Dangerous Minds       99
31                  Twelve Monkeys      129
32                Wings of Courage       50
33                            Babe       89
34                      Carrington      121
35                Dead Man Walking      122
36          Across the Sea of Time       51
37                    It Takes Two      101
38                        Clueless       97
39        Cry, the Beloved Country      106
40                     Richard III      104
41                 Dead Presidents      119
42                     Restoration      117
43                   Mortal Kombat      101
44                      To Die For      106
45   How To Make An American Quilt      116
46                           Se7en      127
47                      Pocahontas       81
48           When Night Is Falling       96
49              The Usual Suspects      106