# pandas

pandas support 3 basic data structures - 
1. Series(1D) - id, name, gender and salary
2. Data frame (2D) - combo of id, name, gender and salary
3. Panel (3D) - 

In order to work with pandas we have to import pandas first
Series is created from list by using cd.Series command

it supports scalar addition, multiplication, division
it supports positive index as a list and series does not support negative indexing.

CSV
It is alternate to structured table takes data as a record kept in a one line, seperated by comma.

In [1]:
import pandas as pd

In [3]:
s=pd.Series([1,2,3,4,5,6,7,8,9])

In [4]:
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

In [6]:
s-2

0   -1
1    0
2    1
3    2
4    3
5    4
6    5
7    6
8    7
dtype: int64

in order to access record from data frame index wise we use .loc

s.head(n) - print default first 5 or n elements

s.tail(n) - print default last 5 or n elements

s.loc[5:10] - prints data from 5 to 10
s.[5:10] - prints data from 5 to 9(n-1)

slicing can directly also operate on data set


while operating with libraries, you have to use '&' for logical and '|' for logical or.



.sort_values --> we have to provide one key




df.describe()
df.isnull()
df.info() - 
df.shape() - it will return you the count of number of rows and columns
df.nunique()


sample() - 
sum() - use to get count of all numerical values
fillna() - use to enter values at null locations 
value_counts()
bc() / iloc() - iloc() will return location index 
concat() ->pd.concat([s1,s2]) -> it will concat 2 series lists
count() - it will count your total column's rows

In [88]:
import pandas as pd

In [8]:
d=pd.Series([1,2,3,4,5,6,7,8,9])

In [13]:
df=pd.read_csv('mycsv.csv')
print(df)

    id   name  gender   salary
0    1   aaaa    male    10000
1    2   bbbb  female     8000
2    3  ccccc    male   120000
3    4   dddd    male    45000
4    5   eeee  female   334567
5    6   ffff  female    21234
6    7   gggg  female     2345
7    8   hhhh  female    23456
8    9   iiii    male     7654
9   10    jjj    male  3456578
10  11   kkkk    male    45678
11  12   llll    male      345
12  13   mmmm  female     9876
13  14  nnnnn    male    34567
14  15   jjjj    male    87654
15  16   iiii  female    34567
16  17   mmmm  female     1234
17  18  nnnnn  female    23456
18  19   oooo  female     5555
19  20   pppp    male     3455

In [44]:
df.name

0      aaaa
1      bbbb
2     ccccc
3      dddd
4      eeee
5      ffff
6      gggg
7      hhhh
8      iiii
9       jjj
10     kkkk
11     llll
12     mmmm
13    nnnnn
14     jjjj
15     iiii
16     mmmm
17    nnnnn
18     oooo
19     pppp
Name: name, dtype: object

In [47]:
print(df.name,df.gender,df.salary)

0      aaaa
1      bbbb
2     ccccc
3      dddd
4      eeee
5      ffff
6      gggg
7      hhhh
8      iiii
9       jjj
10     kkkk
11     llll
12     mmmm
13    nnnnn
14     jjjj
15     iiii
16     mmmm
17    nnnnn
18     oooo
19     pppp
Name: name, dtype: object 0       male
1     female
2       male
3       male
4     female
5     female
6     female
7     female
8       male
9       male
10      male
11      male
12    female
13      male
14      male
15    female
16    female
17    female
18    female
19      male
Name: gender, dtype: object 0       10000
1        8000
2      120000
3       45000
4      334567
5       21234
6        2345
7       23456
8        7654
9     3456578
10      45678
11        345
12       9876
13      34567
14      87654
15      34567
16       1234
17      23456
18       5555
19       3455
Name: salary, dtype: int64

In [48]:
df[['name','salary']]

     name   salary
0    aaaa    10000
1    bbbb     8000
2   ccccc   120000
3    dddd    45000
4    eeee   334567
5    ffff    21234
6    gggg     2345
7    hhhh    23456
8    iiii     7654
9     jjj  3456578
10   kkkk    45678
11   llll      345
12   mmmm     9876
13  nnnnn    34567
14   jjjj    87654
15   iiii    34567
16   mmmm     1234
17  nnnnn    23456
18   oooo     5555
19   pppp     3455

In [87]:
df['tax']=df.salary*0.10
print(df)

    id   name  gender   salary       tax  1000.0  800.0  12000.0  4500.0
0    1   aaaa    male    10000    1000.0  1000.0  800.0  12000.0  4500.0  \
1    2   bbbb  female     8000     800.0  1000.0  800.0  12000.0  4500.0
2    3  ccccc    male   120000   12000.0  1000.0  800.0  12000.0  4500.0
3    4   dddd    male    45000    4500.0  1000.0  800.0  12000.0  4500.0
4    5   eeee  female   334567   33456.7  1000.0  800.0  12000.0  4500.0
5    6   ffff  female    21234    2123.4  1000.0  800.0  12000.0  4500.0
6    7   gggg  female     2345     234.5  1000.0  800.0  12000.0  4500.0
7    8   hhhh  female    23456    2345.6  1000.0  800.0  12000.0  4500.0
8    9   iiii    male     7654     765.4  1000.0  800.0  12000.0  4500.0
9   10    jjj    male  3456578  345657.8  1000.0  800.0  12000.0  4500.0
10  11   kkkk    male    45678    4567.8  1000.0  800.0  12000.0  4500.0
11  12   llll    male      345      34.5  1000.0  800.0  12000.0  4500.0
12  13   mmmm  female     9876     987.6  1000.0  800.0  12000.0  4500.0
13  14  nnnnn    male    34567    3456.7  1000.0  800.0  12000.0  4500.0
14  15   jjjj    male    87654    8765.4  1000.0  800.0  12000.0  4500.0
15  16   iiii  female    34567    3456.7  1000.0  800.0  12000.0  4500.0
16  17   mmmm  female     1234     123.4  1000.0  800.0  12000.0  4500.0
17  18  nnnnn  female    23456    2345.6  1000.0  800.0  12000.0  4500.0
18  19   oooo  female     5555     555.5  1000.0  800.0  12000.0  4500.0
19  20   pppp    male     3455     345.5  1000.0  800.0  12000.0  4500.0

    33456.700000000004  ...  765.4000000000001  345657.80000000005  4567.8
0              33456.7  ...              765.4            345657.8  4567.8  \
1              33456.7  ...              765.4            345657.8  4567.8
2              33456.7  ...              765.4            345657.8  4567.8
3              33456.7  ...              765.4            345657.8  4567.8
4              33456.7  ...              765.4            345657.8  4567.8
5              33456.7  ...              765.4            345657.8  4567.8
6              33456.7  ...              765.4            345657.8  4567.8
7              33456.7  ...              765.4            345657.8  4567.8
8              33456.7  ...              765.4            345657.8  4567.8
9              33456.7  ...              765.4            345657.8  4567.8
10             33456.7  ...              765.4            345657.8  4567.8
11             33456.7  ...              765.4            345657.8  4567.8
12             33456.7  ...              765.4            345657.8  4567.8
13             33456.7  ...              765.4            345657.8  4567.8
14             33456.7  ...              765.4            345657.8  4567.8
15             33456.7  ...              765.4            345657.8  4567.8
16             33456.7  ...              765.4            345657.8  4567.8
17             33456.7  ...              765.4            345657.8  4567.8
18             33456.7  ...              765.4            345657.8  4567.8
19             33456.7  ...              765.4            345657.8  4567.8

    34.5  987.6  3456.7000000000003  8765.4  123.4  555.5  345.5
0   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
1   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
2   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
3   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
4   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
5   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
6   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
7   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
8   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
9   34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
10  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
11  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
12  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
13  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
14  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
15  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
16  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
17  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
18  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5
19  34.5  987.6              3456.7  8765.4  123.4  555.5  345.5

[20 rows x 23 columns]

In [52]:
df.salary*0.10

0       1000.0
1        800.0
2      12000.0
3       4500.0
4      33456.7
5       2123.4
6        234.5
7       2345.6
8        765.4
9     345657.8
10      4567.8
11        34.5
12       987.6
13      3456.7
14      8765.4
15      3456.7
16       123.4
17      2345.6
18       555.5
19       345.5
Name: salary, dtype: float64

In [60]:
df

,id,name,gender,salary,tax,1000.0,800.0,12000.0,4500.0,33456.700000000004,...,765.4000000000001,345657.80000000005,4567.8,34.5,987.6,3456.7000000000003,8765.4,123.4,555.5,345.5
0,1,aaaa,male,10000,1000.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
1,2,bbbb,female,8000,800.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
2,3,ccccc,male,120000,12000.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
3,4,dddd,male,45000,4500.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
4,5,eeee,female,334567,33456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
5,6,ffff,female,21234,2123.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
6,7,gggg,female,2345,234.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
7,8,hhhh,female,23456,2345.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
8,9,iiii,male,7654,765.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
9,10,jjj,male,3456578,345657.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
10,11,kkkk,male,45678,4567.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
11,12,llll,male,345,34.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
12,13,mmmm,female,9876,987.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
13,14,nnnnn,male,34567,3456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
14,15,jjjj,male,87654,8765.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
15,16,iiii,female,34567,3456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
16,17,mmmm,female,1234,123.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
17,18,nnnnn,female,23456,2345.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
18,19,oooo,female,5555,555.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
19,20,pppp,male,3455,345.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5

In [63]:
for i in range(len(df)):
    print(df.loc[i])

id                           1
name                      aaaa
gender                    male
salary                   10000
tax                     1000.0
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 0, dtype: object
id                           2
name                      bbbb
gender                  female
salary                    8000
tax                      800.0
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 1, dtype: object
id                           3
name                     ccccc
gender                    male
salary                  120000
tax                    12000.0
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 2, dtype: object
id                           4
name                      dddd
gender                    male
salary                   45000
tax                     4500.0
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 3, dtype: object
id                           5
name                      eeee
gender                  female
salary                  334567
tax                    33456.7
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 4, dtype: object
id                           6
name                      ffff
gender                  female
salary                   21234
tax                     2123.4
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 5, dtype: object
id                           7
name                      gggg
gender                  female
salary                    2345
tax                      234.5
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 6, dtype: object
id                           8
name                      hhhh
gender                  female
salary                   23456
tax                     2345.6
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 7, dtype: object
id                           9
name                      iiii
gender                    male
salary                    7654
tax                      765.4
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 8, dtype: object
id                          10
name                       jjj
gender                    male
salary                 3456578
tax                   345657.8
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 9, dtype: object
id                          11
name                      kkkk
gender                    male
salary                   45678
tax                     4567.8
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 10, dtype: object
id                          12
name                      llll
gender                    male
salary                     345
tax                       34.5
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 11, dtype: object
id                          13
name                      mmmm
gender                  female
salary                    9876
tax                      987.6
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 12, dtype: object
id                          14
name                     nnnnn
gender                    male
salary                   34567
tax                     3456.7
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 13, dtype: object
id                          15
name                      jjjj
gender                    male
salary                   87654
tax                     8765.4
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 14, dtype: object
id                          16
name                      iiii
gender                  female
salary                   34567
tax                     3456.7
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 15, dtype: object
id                          17
name                      mmmm
gender                  female
salary                    1234
tax                      123.4
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 16, dtype: object
id                          18
name                     nnnnn
gender                  female
salary                   23456
tax                     2345.6
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 17, dtype: object
id                          19
name                      oooo
gender                  female
salary                    5555
tax                      555.5
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 18, dtype: object
id                          20
name                      pppp
gender                    male
salary                    3455
tax                      345.5
1000.0                  1000.0
800.0                    800.0
12000.0                12000.0
4500.0                  4500.0
33456.700000000004     33456.7
2123.4                  2123.4
234.5                    234.5
2345.6                  2345.6
765.4000000000001        765.4
345657.80000000005    345657.8
4567.8                  4567.8
34.5                      34.5
987.6                    987.6
3456.7000000000003      3456.7
8765.4                  8765.4
123.4                    123.4
555.5                    555.5
345.5                    345.5
Name: 19, dtype: object

In [64]:
df.drop()

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [65]:
df

,id,name,gender,salary,tax,1000.0,800.0,12000.0,4500.0,33456.700000000004,...,765.4000000000001,345657.80000000005,4567.8,34.5,987.6,3456.7000000000003,8765.4,123.4,555.5,345.5
0,1,aaaa,male,10000,1000.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
1,2,bbbb,female,8000,800.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
2,3,ccccc,male,120000,12000.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
3,4,dddd,male,45000,4500.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
4,5,eeee,female,334567,33456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
5,6,ffff,female,21234,2123.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
6,7,gggg,female,2345,234.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
7,8,hhhh,female,23456,2345.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
8,9,iiii,male,7654,765.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
9,10,jjj,male,3456578,345657.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
10,11,kkkk,male,45678,4567.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
11,12,llll,male,345,34.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
12,13,mmmm,female,9876,987.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
13,14,nnnnn,male,34567,3456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
14,15,jjjj,male,87654,8765.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
15,16,iiii,female,34567,3456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
16,17,mmmm,female,1234,123.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
17,18,nnnnn,female,23456,2345.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
18,19,oooo,female,5555,555.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
19,20,pppp,male,3455,345.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5

In [66]:
df.loc[2:10]

,id,name,gender,salary,tax,1000.0,800.0,12000.0,4500.0,33456.700000000004,...,765.4000000000001,345657.80000000005,4567.8,34.5,987.6,3456.7000000000003,8765.4,123.4,555.5,345.5
2,3,ccccc,male,120000,12000.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
3,4,dddd,male,45000,4500.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
4,5,eeee,female,334567,33456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
5,6,ffff,female,21234,2123.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
6,7,gggg,female,2345,234.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
7,8,hhhh,female,23456,2345.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
8,9,iiii,male,7654,765.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
9,10,jjj,male,3456578,345657.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
10,11,kkkk,male,45678,4567.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5

In [67]:
df['gender']=='male'

0      True
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8      True
9      True
10     True
11     True
12    False
13     True
14     True
15    False
16    False
17    False
18    False
19     True
Name: gender, dtype: bool

In [69]:
df[df['gender']=='male'].to_csv('male.csv')

In [70]:
max(df.salary)

3456578

In [71]:
sum(df.salary)

4275221

In [73]:
a=sum(df.salary)/len(df)

In [74]:
df[df['salary'] >= a]

,id,name,gender,salary,tax,1000.0,800.0,12000.0,4500.0,33456.700000000004,...,765.4000000000001,345657.80000000005,4567.8,34.5,987.6,3456.7000000000003,8765.4,123.4,555.5,345.5
4,5,eeee,female,334567,33456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
9,10,jjj,male,3456578,345657.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5

In [76]:
df.sort_values(by='salary')

,id,name,gender,salary,tax,1000.0,800.0,12000.0,4500.0,33456.700000000004,...,765.4000000000001,345657.80000000005,4567.8,34.5,987.6,3456.7000000000003,8765.4,123.4,555.5,345.5
11,12,llll,male,345,34.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
16,17,mmmm,female,1234,123.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
6,7,gggg,female,2345,234.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
19,20,pppp,male,3455,345.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
18,19,oooo,female,5555,555.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
8,9,iiii,male,7654,765.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
1,2,bbbb,female,8000,800.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
12,13,mmmm,female,9876,987.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
0,1,aaaa,male,10000,1000.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
5,6,ffff,female,21234,2123.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
17,18,nnnnn,female,23456,2345.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
7,8,hhhh,female,23456,2345.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
13,14,nnnnn,male,34567,3456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
15,16,iiii,female,34567,3456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
3,4,dddd,male,45000,4500.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
10,11,kkkk,male,45678,4567.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
14,15,jjjj,male,87654,8765.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
2,3,ccccc,male,120000,12000.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
4,5,eeee,female,334567,33456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
9,10,jjj,male,3456578,345657.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5

In [77]:
df.sort_values(by='salary')[-2:-1]

,id,name,gender,salary,tax,1000.0,800.0,12000.0,4500.0,33456.700000000004,...,765.4000000000001,345657.80000000005,4567.8,34.5,987.6,3456.7000000000003,8765.4,123.4,555.5,345.5
4,5,eeee,female,334567,33456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5

In [78]:
df

,id,name,gender,salary,tax,1000.0,800.0,12000.0,4500.0,33456.700000000004,...,765.4000000000001,345657.80000000005,4567.8,34.5,987.6,3456.7000000000003,8765.4,123.4,555.5,345.5
0,1,aaaa,male,10000,1000.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
1,2,bbbb,female,8000,800.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
2,3,ccccc,male,120000,12000.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
3,4,dddd,male,45000,4500.0,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
4,5,eeee,female,334567,33456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
5,6,ffff,female,21234,2123.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
6,7,gggg,female,2345,234.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
7,8,hhhh,female,23456,2345.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
8,9,iiii,male,7654,765.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
9,10,jjj,male,3456578,345657.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
10,11,kkkk,male,45678,4567.8,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
11,12,llll,male,345,34.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
12,13,mmmm,female,9876,987.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
13,14,nnnnn,male,34567,3456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
14,15,jjjj,male,87654,8765.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
15,16,iiii,female,34567,3456.7,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
16,17,mmmm,female,1234,123.4,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
17,18,nnnnn,female,23456,2345.6,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
18,19,oooo,female,5555,555.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5
19,20,pppp,male,3455,345.5,1000.0,800.0,12000.0,4500.0,33456.7,...,765.4,345657.8,4567.8,34.5,987.6,3456.7,8765.4,123.4,555.5,345.5

In [84]:
print(df.drop(labels=['1000.0','800.0','12000.0','4500.0'],axis=1))

KeyError: "['1000.0', '800.0', '12000.0', '4500.0'] not found in axis"

In [9]:
s=pd.Series([1,2,3,4,5,6,7,8,9])

In [10]:
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [11]:
s*2

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64

In [12]:
s-2

0   -1
1    0
2    1
3    2
4    3
5    4
6    5
7    6
8    7
dtype: int64